services:
  robomotion:
    image: gcr.io/robomotion/robomotion:latest
    container_name: affectionate_borg
    environment:
      - EMAIL=${ROBOMOTION_EMAIL:?Robomotion email is required}
      - WORKSPACE=${ROBOMOTION_WORKSPACE:?Robomotion workspace is required}
      - ROBOT_ID=${ROBOMOTION_ROBOT_ID:?Robomotion robot ID is required}
      - ROBOT_TOKEN=${ROBOMOTION_ROBOT_TOKEN:?Robomotion robot token is required}
    volumes:
      - ./persistence:/home/robomotion/.config/robomotion
      - ./files:/files
      - ./sqlite_data:/data
    ports:
      - "9090:9090"
    restart: unless-stopped

  sqlite-cli:
    image: alpine/sqlite:latest
    container_name: sqlite-cli
    stdin_open: true
    tty: true
    volumes:
      - ./sqlite_data:/data
    working_dir: /data
    restart: unless-stopped
