services:
  robomotion:
    image: gcr.io/robomotion/robomotion:latest
    container_name: affectionate_borg
    environment:
      - EMAIL=${ROBOMOTION_EMAIL:?Robomotion email is required}
      - WORKSPACE=${ROBOMOTION_WORKSPACE:?Robomotion workspace is required}
      - ROBOT_ID=${ROBOMOTION_ROBOT_ID:?Robomotion robot ID is required}
      - ROBOT_TOKEN=${ROBOMOTION_ROBOT_TOKEN:?Robomotion robot token is required}
    volumes:
      - ./persistence:/home/robomotion/.config/robomotion
      - ./files:/files
      - ./sqlite_data:/data
    ports:
      - "9090:9090"
    restart: unless-stopped

  sqlite:
    image: alpine/sqlite:latest
    container_name: sqlite
    stdin_open: true
    tty: true
    volumes:
      - ./sqlite_data:/data
    working_dir: /data
    # 1. Override the default entrypoint to use shell
    entrypoint: /bin/sh
    # 2. Pass the keep-alive command as an argument to the shell
    command: -c "tail -f /dev/null"
    restart: unless-stopped
