services:
  robomotion:
    image: gcr.io/robomotion/robomotion:latest
    container_name: affectionate_borg
    environment:
      - EMAIL=${ROBOMOTION_EMAIL:?Robomotion email is required}
      - WORKSPACE=${ROBOMOTION_WORKSPACE:?Robomotion workspace is required}
      - ROBOT_ID=${ROBOMOTION_ROBOT_ID:?Robomotion robot ID is required}
      - ROBOT_TOKEN=${ROBOMOTION_ROBOT_TOKEN:?Robomotion robot token is required}
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    volumes:
      - ./persistence:/home/robomotion/.config/robomotion
      - ./sqlite_data:/data
    ports:
      - "9090:9090"
    restart: unless-stopped
    depends_on:
      - redis

  redis:
    image: redis:alpine
    container_name: redis
    restart: unless-stopped
    volumes:
      - ./redis_data:/data
